{%- assign current_template = template | split: '.' | first -%}
{% capture divider_html %}
  <span class="breadcrumbs__arrow">&nbsp;</span>
{% endcapture %}
<nav class="breadcrumbs custom-breadcrumbs ff-body fs-body-75" role="navigation" aria-label="breadcrumbs">
  {%- if show_breadcrumbs -%}
    <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList" >
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a>
        <meta itemprop="position" content="1" />
        {{ divider_html }}
      </li>
      {%- case current_template -%}
        {%- when 'product' -%}
        {%- assign itemprop_position = 2 -%}
          {%- if collection.url -%}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
              <meta itemprop="position" content="{{ itemprop_position }}" />
              {{ divider_html }}
              {%- assign itemprop_position = 3 -%}
            </li>
          {%- else  -%}

            {%- if product.metafields.custom.breadcrumb and product.metafields.custom.breadcrumb.size > 0 and product.collections.size > 0 -%}
              {%- assign my_string_breadcrumb = product.metafields.custom.breadcrumb -%}
              {% assign breadcrumbs_array =  my_string_breadcrumb | split: ">" %}

              {%- for prod_collection in product.collections -%}
                {%- for crumb in breadcrumbs_array -%}
                  {% if crumb == prod_collection.handle %}
                    {% assign url = crumb | handleize %}
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
                      <a class="breadcrumbs__link" href="/collections/{{ url }}" itemprop="item"><span itemprop="name">{{ prod_collection.title }}</span></a>
                      <meta itemprop="position" content="{{ itemprop_position }}" />
                      {{ divider_html }}
                      {% assign itemprop_position = itemprop_position | plus: 1 %}
                    </li>
                  {% endif %}
				{%- endfor -%}
              {%- endfor -%}
            {%- endif -%}
            
          {%- endif -%}
            
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page" itemprop="item"><span itemprop="name">{{ product.title }}</span></span>
              <meta itemprop="position" content="{{ itemprop_position }}" />
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
              <meta itemprop="position" content="2" />
              {{ divider_html }}
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page" itemprop="item"><span itemprop="name">{{- current_tags | join: ' + ' -}}</span></span>
              <meta itemprop="position" content="3" />
            </li>
          {%- else -%}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page" itemprop="item"><span itemprop="name">{{ collection.title }}</span></span>
              <meta itemprop="position" content="2" />
            </li>
          {%- endif -%}
        {%- when 'page' -%}
           <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
             <span class="breadcrumbs__current" aria-current="page" itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
             <meta itemprop="position" content="2" />
           </li>
        {%- when 'article' -%}
           <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"  class="breadcrumbs__item">
             <span class="breadcrumbs__current" aria-current="page" itemprop="item"><span itemprop="name">{{ article.title }}</span></span>
             <meta itemprop="position" content="2" />
           </li> 
      {%- endcase -%}   
    </ol>
  {%- endif -%}

  {%- if show_navigation_buttons -%}
    <ol class="navigation-buttons__list">
      {%- if collection.previous_product -%}
        <li class="navigation-buttons__item">
          {{ 'general.breadcrumbs.previous' | t | link_to: collection.previous_product }}
        </li>
      {%- endif -%}
      {%- if collection.next_product -%}
        <li class="navigation-buttons__item">
          {{ 'general.breadcrumbs.next' | t | link_to: collection.next_product }}
        </li>
      {%- endif -%}
    </ol>
  {%- endif -%}
</nav>
