{%- liquid
  assign text_color = section.settings.color
  assign bg_color = section.settings.bg_color
  assign sub_collection_html = ''
  assign sub_collection_counter = 0
-%}
  
{%- if section.blocks.size > 0 -%}
  {%- style -%}
    #Subcollections--{{ section.id }} {
      --PT: {{ section.settings.padding_top }}px;
      --PB: {{ section.settings.padding_bottom }}px;

      {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
        --text: {{ text_color }};
      {%- endunless -%}

      {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
        --bg: {{ bg_color }};
      {%- endunless -%}
    }
  {%- endstyle -%}

  <section class="subcollections collection-{{ collection.handle }} section-padding"
    id="Subcollections--{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="collection">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- capture sub_collection_html -%}
          {{ sub_collection_html }}

          <div class="grid-item subcollection__item" data-grid-item>
            <div class="subcollection__inner">
              <a class="subcollection__link {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}" href="{{ block.settings.button_url | default: '#!' }}">
                <div class="subcollection__text">
                  <span>{{ block.settings.button_text }}</span>
                  {%- if block.settings.show_arrow -%}
                    {%- render 'icon-arrow-right' -%}
                  {%- endif -%}
                </div>
              </a>
            </div>
          </div>
        {%- endcapture -%}

        {%- assign sub_collection_counter = sub_collection_counter | plus: 1 -%}

        {%- if sub_collection_counter >= sub_collection_limit -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if sub_collection_html != '' -%}
        {%- liquid
          assign layout_slider = false
          if section.settings.subcollection_layout == 'slider' and sub_collection_counter > 4
            assign layout_slider = true
          endif

          assign columns_desktop = sub_collection_counter | at_most: 4
          assign columns_medium = 3

          if columns_desktop == 2 or columns_desktop == 4
            assign columns_medium = 2
          endif
        -%}

        {%- capture sub_collection_html -%}
          <div class="grid{% if layout_slider %} grid--slider{% endif %} grid--mobile-slider"{% if layout_slider %} data-grid-slider{% endif %} style="--COLUMNS: {{ columns_desktop }}; --COLUMNS-MEDIUM: {{ columns_medium }};">
            {{ sub_collection_html }}
          </div>
        {%- endcapture -%}

        <div class="grid-outer grid-outer-no-images">
          {%- if layout_slider -%}
            <grid-slider>
              {{ sub_collection_html }}
            </grid-slider>
          {%- else -%}
            {{ sub_collection_html }}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Listbuttons",
  "settings": [
    {
      "type": "paragraph",
      "content": "Create a [navigation list](/admin/menus) with the same name as this collection and link to other collections. [Learn more](https://broadcast.invisiblethemes.com/collections/collection-pages/sub-collections)"
    },
    {
      "type": "select",
      "id": "subcollection_layout",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Color",
          "default": "btn--primary",
          "options": [
            {"value": "btn--primary", "label": "Primary"},
            {"value": "btn--secondary", "label": "Secondary"},
            {"value": "btn--white", "label": "White"},
            {"value": "btn--black", "label": "Black"}
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Small", "value": "btn--small" },
            { "label": "Medium", "value": "" },
            { "label": "Large", "value": "btn--large" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn--solid",
          "options": [
            { "label": "Solid", "value": "btn--solid" },
            { "label": "Outline", "value": "btn--outline" },
            { "label": "Text", "value": "btn--text" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show arrow",
          "default": false
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Buttons",
      "category": "Text",
      "blocks": [
        {
          "type": "buttons"
        },
        {
          "type": "buttons"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}